Parametername	Parametervalue
jdbc-driver =org.postgresql.Driver
jdbc-protocol =postgresql
jdbc-url = jdbc:postgresql://172.24.118.205:37821/db_acs_du?ApplicationNameACS
user =postgres
password = postgres
database =db_acs_du
use-simple-db-connector =no
use-db-connection-pooling = yes
country-code  =971
#subscriber-no-formats =3|550|6,3|523|6,3|580|6
subscriber-no-formats =3|550|6,3|523|6,3|580|6,3|559|6,3|529|6
country-prefix =971
network-code-digits =3
subscriber-number-digits =6
sn-prefixes-msisdn =971,+971
sn-prefixes-subscriber-no =0
subscriber-number-prefixes =AED
currency-code =2
currency-decimals =Arab Emirate Dhiram
currency-long-name =Arab Emirate Dhiram
currency-short-name =AED
counter-format-recovery =TEST
